.passportOuterMoveAround {
    animation: 2s moveAround ease-in-out 3.6s 1;
}
@keyframes moveAround {
    0% { opacity: 1; top: 150px; left: 175px; transform: rotate(0deg); scale: 0.1 }
    12% { opacity: 1; scale: 1.0; }
    25% { opacity: 1; top: 255px; left: 175px; transform: rotate(-45deg); }
    75% { opacity: 1; top: 255px; left: 175px; transform: rotate(-45deg); }
    100% { opacity: 1; top: 255px; left: 420px; transform: rotate(-90deg); }
}
.passportInnerMoveIn {
    animation: 1.5s moveIn ease-in-out 5s 1 forwards;
}
@keyframes moveIn {
    0% { bottom: 500px; }
    100% { bottom: 21px; }
}
.passportInnerMoveDown {
    animation: 10.2s moveDown ease-in-out 0s 1 forwards;
}
@keyframes moveDown {
    0% { bottom: 21px; }
    15% { bottom: -306px; }
    95% { bottom: -306px; }
    100% { bottom: -600px; }
}
.stamperStamp {
    animation: 5s stamp ease-in-out 1.7s 1 forwards;
}
@keyframes stamp {
    0% { left: 1059px; }
    7% { left: 459px; }
    9% { left: 475px; }
    11% { left: 459px; }
    14% { left: 475px; }
    80% { left: 475px; }
    100% { left: 1059px; }
}
/* This exists to re-prioritize positioning */
.person {
    top: -5px;
	left: -250px;
}
.personAppear {
    animation: 1.6s personAppear ease-in-out 2s 1 forwards;
}
@keyframes personAppear {
    0% { left: -250px; top: 15px; scale: .8; filter: brightness(0); }
    80% { left: 44px; top: -5px; scale: 1; filter: brightness(0); }
    100% { left: 44px; top: -5px; scale: 1; filter: brightness(1); }
}
.personLeave {
    left: 44px;
    top: -5px;
    animation: 2.1s personLeave ease-in-out 10.6s 1 forwards;
}
@keyframes personLeave {
    0% { left: 44px; top: -5px ; scale: 1; filter: brightness(1); }
    20% { left: 44px; top: -5px; scale: 1; filter: brightness(0); }
    100% { left: 400px; top: 15px; scale: .7; filter: brightness(0); }
}
.showStamp {
    animation: 500ms ease-in-out 5s 1 forwards visible;
}
@keyframes visible {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.citationAnimation {
    animation: citation 4s ease-in-out 0s 1 forwards;
}
@keyframes citation {
    0% { bottom: -160px; }
    10% { bottom: -100px; }
    15% { bottom: -100px; }
    20% { bottom: -80px; }
    25% { bottom: -80px; }
    50% { bottom: 15px; }
    80% { bottom: 15px; right: 53px; transform: rotate(0deg); }
    100% { bottom: 15px; right: -950px; transform: rotate(10deg); }
}