@font-face {
	font-family: gdqpixel;
	src: url('fonts/gdqpixel.woff2') format('woff2');
}

@font-face {
	font-family: osd;
	src: url('fonts/UAV-OSD-Sans-Mono.ttf') format('truetype');
}

@font-face {
	font-family: monkeyisland;
	src: url('fonts/MonkeyIsland-1990.ttf') format('truetype');
}

@font-face {
	font-family: oregontrail;
	src: url('fonts/OregonTrail-Shaston320.ttf') format('truetype');
}

@font-face {
	font-family: Dosis;
	font-weight: 700;
	src: url('fonts/Dosis-Bold.ttf') format('truetype');
}

@font-face {
	font-family: DeterminationSans;
	src: url('fonts/DeterminationMono.ttf') format('truetype');
}

@font-face {
	font-family: DotumChe;
	src: url('fonts/dotumche.ttf') format('truetype');
}

@font-face {
	font-family: PapyrusUndertale;
	src: url('fonts/PapyrusUndertale.ttf') format('truetype');
}

@font-face {
	font-family: ComicSansUndertale;
	src: url('fonts/ComicSansUndertale.ttf') format('truetype');
}

@font-face {
	font-family: CryptOfTomorrow;
	src: url('fonts/CryptOfTomorrow.ttf') format('truetype');
}

@font-face {
	font-family: ProggyTiny;
	src: url('fonts/ProggyTiny.ttf') format('truetype');
}

@font-face {
	font-family: WebbyCaps;
	src: url('fonts/WebbyCaps.ttf') format('truetype');
}

@font-face {
	font-family: DragonWarrior;
	src: url('fonts/dragon-warrior.ttf') format('truetype');
}

@font-face {
	font-family: Reactor7;
	src: url('fonts/Reactor7.ttf') format('truetype');
}

@font-face {
	font-family: minesweeper;
	src: url('fonts/Minesweeper.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'Cabin';
	src: url('fonts/Cabin/Cabin-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face{
	font-family: Merriweather;
	src: url('fonts/Merriweather-Black.ttf') format('woff2');
}
