@font-face {
	font-family: gdqpixel;
	src: url('fonts/gdqpixel.woff2') format('woff2');
}

@font-face {
	font-family: osd;
	src: url('fonts/UAV-OSD-Sans-Mono.ttf') format('truetype');
}

@font-face {
	font-family: monkeyisland;
	src: url('fonts/MonkeyIsland-1990.ttf') format('truetype');
}

@font-face {
	font-family: oregontrail;
	src: url('fonts/OregonTrail-Shaston320.ttf') format('truetype');
}

@font-face {
	font-family: Dosis;
	font-weight: 700;
	src: url('fonts/Dosis-Bold.ttf') format('truetype');
}

@font-face {
	font-family: DeterminationSans;
	src: url('fonts/DeterminationMono.ttf') format('truetype');
}

@font-face {
	font-family: DotumChe;
	src: url('fonts/dotumche.ttf') format('truetype');
}

@font-face {
	font-family: PapyrusUndertale;
	src: url('fonts/PapyrusUndertale.ttf') format('truetype');
}

@font-face {
	font-family: ComicSansUndertale;
	src: url('fonts/ComicSansUndertale.ttf') format('truetype');
}

@font-face {
	font-family: CryptOfTomorrow;
	src: url('fonts/CryptOfTomorrow.ttf') format('truetype');
}
